COLP.BEPS.Servicios.ConsultarViabilidad.Proxy/src/main/resources/SvcConsultarViabilidad.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="SrvConsultarViabilidad"
	targetNamespace="http://www.colpensiones.gov.co/beps/contracts/1.0/consultarviabilidad"
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.colpensiones.gov.co/beps/contracts/1.0/consultarviabilidad"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://www.colpensiones.gov.co/beps/schemas/1.0/comun"
			version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="tipoEstadoEjecucion">
				<xs:sequence>
					<xs:element name="id" type="xs:string" />
					<xs:element name="codigo" type="xs:string" />
					<xs:element name="descripcion" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="unqualified"
			targetNamespace="http://www.colpensiones.gov.co/beps/contracts/1.0/consultarviabilidad"
			xmlns="http://www.colpensiones.gov.co/beps/contracts/1.0/consultarviabilidad"
			xmlns:ns1="http://www.colpensiones.gov.co/beps/schemas/1.0/comun"
			xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://www.colpensiones.gov.co/beps/schemas/1.0/comun" />
			<xs:element name="consultarViabilidadResponse" type="ns1:tipoEstadoEjecucion" />
			<xs:element name="numeroDocumento" type="xs:string" />
			<xs:element name="tipoDocumento" type="xs:string" />
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="consultarViabilidadResponse">
		<wsdl:part element="tns:consultarViabilidadResponse" name="respuestaGeneracion">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="arg0">
		<wsdl:part element="tns:numeroDocumento" name="numeroDocumento">
		</wsdl:part>
		<wsdl:part element="tns:tipoDocumento" name="tipoDocumento">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="SrvConsultarViabilidad">
		<wsdl:operation name="consultarViabilidad">
			<wsdl:input message="tns:arg0" name="arg0"></wsdl:input>
			<wsdl:output message="tns:consultarViabilidadResponse" name="consultarViabilidadResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SrvConsultarViabilidadSoapBinding"
		type="tns:SrvConsultarViabilidad">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="consultarViabilidad">
			<soap:operation
				soapAction="http://www.colpensiones.gov.co/beps/contracts/1.0/consultarviabilidad/consultarViabilidad"
				style="document" />
			<wsdl:input name="arg0">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="consultarViabilidadResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SrvConsultarViabilidad">
		<wsdl:port binding="tns:SrvConsultarViabilidadSoapBinding"
			name="SrvConsultarViabilidadImplPort">
			<soap:address location="http://835JZ32:8080/COLP.BEPS.Servicios.Bdua/WS_BDUA" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>